{% extends "HelpInfo/index.html" %}

{% block content %}
<p>Extending works</p>

    <div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Computer Name</th>
      <th>User Name</th>
      <th>Status</th>
      <th>IP</th>
    </tr>
      {% for i in Computers %}
         <tr>
            <td>{{i.comp.comp_name}}</td>
            <td>{{i.user.user}}</td>
            <td>{{i.status.status}}</td>
            <td>{{i.ip.ip}}</td>
         </tr>
      {% endfor %}
  </table>

</div>

{% endblock %}
