{% extends "HelpInfo/index.html" %}

{% block header %}
<div style="overflow-x: auto;">
  <table>
    <tr>
      <th>Computer Name</th>
      <th>User Name</th>
      <th>Status</th>
      <th>IP</th>
    </tr>
      {% for i in Computers %}
         <tr>
            <td>{{i.comp.comp_name}}</td>
            <td>{{i.user.user}}</td>
                {% if i.status.status == 1 %}
                    <td>Up</td>
                    {% elif i.status.status == 0 %}
                        <td>Down</td>
                {% endif %}
            <td>{{i.ip.ip}}</td>
         </tr>
      {% endfor %}
  </table>

</div>
{% endblock %}



