{% extends "HelpInfo/index.html" %}

{% block content %}
     <div class="search-container">
         <form action="{% url 'LKE' %}" method="get">
              <input type="text" placeholder="Search Below.." name="search">
              <button type="submit">&#x1F50E;</button>
         </form>
     </div>
    <br>
    <div style="overflow-x: auto;">
    <table class="data">
        <tr class="data-line">
            <th class="data-header">Computer Name</th>
            <th class="data-header">User Name</th>
            <th class="data-header">Status</th>
            <th class="data-header">IP</th>
            <th class="data-header">LastSync</th>
            <th class="data-header">LocalSessionManager</th>
        </tr>
            {% for i in Computers %}
        <tr class="data-line">
            <td class="data-data" id="investigate" onclick="window.open('/C_H/{{i.comp.comp_name}}')">{{i.comp.comp_name}}</td>
            <td class="data-data">{{i.user.user}}</td>
                {% if i.status.status == 1 %}
                    <td class="data-data"><ul><li class="status green"></li></ul></td>
                    {% elif i.status.status == 0 %}
                        <td class="data-data"><ul><li class="status orange"></li></ul></td>
                {% endif %}
            <td class="data-data">{{i.ip.ip}}</td>
            <td class="data-data">{{i.logged_on}}</td>
             <td class="data-data" id="c_log" onclick="window.location.href = '/LSM/{{i.comp.bios_serial}}';">{{i.comp.bios_serial}} 's log</td>
        </tr>

            {% endfor %}
    </table>

    </div>

{% endblock %}



