<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'HelpInfo/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Chela One' rel='stylesheet'>

    <title>HelpDesk Info</title>
</head>
<body onload="startTime()">
    <header>
        <h1>info</h1>
    </header>
    {% if user.is_authenticated %}
        <div class="search-container">
            <form action="{% url 'Result' %}" method="get">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">&#x1F50E;</button>
            </form>
        </div>
        <br>

        <script>
            function startTime() {
                const today = new Date();
                let h = today.getHours();
                let m = today.getMinutes();
                let s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('txt').innerHTML = "<b>" + h + ":" + m + ":" + s + "</b>";
                setTimeout(startTime, 1000);
            }

            function checkTime(i) {
                if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
            }
        </script>
        <div class="Out" >
            <div id="txt"></div>
            <button onclick="window.location.href = {% url 'logout' %};">User : {{ user.username }} | Log Out</button>
        </div>
        <hr class="new1">
        <div class="btn-group">
            <button onclick="window.location.href = '/Home';">Computers</button>
            <button id="logs" onclick="window.location.href = '/Logs';">Logs</button>
            <button onclick="window.location.href = '/Users_History';">Users Login History</button>
        </div>
        <hr class="new2">
    {% endif %}
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>