{% extends "HelpInfo/index.html" %}

{% block content %}

    <div style="overflow-x: auto;">
    <table class="data">
        <tr class="data-line">
            <th class="data-header">Computer Name</th>
            <th class="data-header">User Name</th>
            <th class="data-header">Status</th>
            <th class="data-header">IP</th>
            <th class="data-header">LastSync</th>
         </tr>
            {% for i in Computers %}
         <tr class="data-line">
            <td class="data-data">{{i.comp_t.comp_name}}</td>
            <td class="data-data">{{i.user_t.user}}</td>
                {% if i.status_t.status == 1 %}
                    <td class="data-data">Up</td>
                    {% elif i.status_t.status == 0 %}
                        <td class="data-data">Down</td>
                {% endif %}
            <td class="data-data">{{i.ip_t.ip}}</td>
            <td class="data-data">{{i.logged_on_t}}</td>
         </tr>
            {% endfor %}
     </table>

    </div>

{% endblock %}
