body {
    background-color: #FFFFF0;
}
header {
  display: block;
  background-color:#67ff58;
  font-family: 'Chela One';
  font-size: 36px;
  max-height: fit-content;
  padding: 0px;
  margin-top: -30px;
  text-align: center;
  border-radius: 25px;
  color: #f2f2f2;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #98fb98;
  border-radius: 10px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #F0FFFF;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.search-container button:hover {
  background: #98fb98;
}
hr.new1 {
  border: 1px solid #98fb98;
}
hr.new2 {
  border: 1px solid #98fb98;
}
table.data {
  border-radius: 10px;
  /*border-collapse: collapse;*/
  width: 97%;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid #98fb98;
}
.data-header, .data-data {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #F0FFFF;}

.btn-group button {
  background-color: #F0FFFF;
  border: 1px solid #98fb98; /* Green border */
  border-radius: 10px;
  color: black; /* black text */
  padding: 10px 34px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group button:not(:last-child) {
  border-right: none;  /*Prevent double borders*/
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #98fb98;
}
.Out {
  display: flex;
  justify-content: right;
}
.Out button {
  background-color: #F0FFFF;
  border: 1px solid #98fb98; /* Green border */
  border-radius: 10px;
  color: black; /* black text */
  padding: 10px 34px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}
.Out button:hover {
  background-color: #98fb98;
}
table.login {
  border-radius: 10px;
  /* border-collapse: collapse; */
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #98fb98;
  padding: 20px 10px;
}
table.login tr {
  background-color: #FFFFF0;
}
td.btn-group {
  margin-top: 10px;
}
h2.login-title {
  font-family: 'Chela One';
  text-align: center;
  color: black;
  margin-top: 100px;
}
p {
  text-align: center;
}
#investigate:hover {
  background-color: #98fb98;
}