header {
  display: block;
  background-color:#67ff58;
  font-family: 'Chela One';
  font-size: 36px;
  max-height: fit-content;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  color: #f2f2f2;
}
table {
  border-collapse: collapse;
  width: 97%;
  margin-left: 20px;
  margin-right: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
